*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

li{
    list-style-type: none;
    padding: 0 12px;
}

a, i{
text-decoration: none;
font-size: 15px;
color: #888;
}
a:hover{
    text-decoration: underline;
}

header{
    display: flex;
    height: 10vh;
}

header  ul {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding: 0 15px;
}
header a {
    color: black;
}

section {
    height: 75vh;
}

.imgContainer{
    display: flex;
    justify-content: center;
}

.imgContainer img{
    width: 100%;
    max-width: 300px;
    padding-top: 100px ;
}

span{
    color: #4285f4;
    margin-left: -50px;
    align-self: flex-end;
    font-size: 16px;
}

.searcBar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.searcBar input{
    outline: none;
    font-size: 16px;
    width: 400px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 25px;
    padding-left: 50px;
    margin: 30px 0;
    transition: .5s ease;
}

.searcBar input:hover {
    box-shadow: 0 0 5px  rgba(0,0,0, 0.8);
}
.searcBar i {
    width: 50px;
    position: relative;
    left: 68px;
}


.searchButton{
    display: flex;
    justify-content: center;
}

.searchButton input {
    color: gray;
    border: 1px solid beige;
    margin: 11px 4px;
    padding: 0 16px;   
    line-height: 27px;
    height: 36px;
    cursor: pointer;
    border-radius: 10px;
}

.searchButton input:hover{
    color: #222;
    border: 1px solid #ccc;
    box-shadow: 0 0 1px rgba(0,0,0, 0.6);
}

p {
    margin-top: 15px;
    font-size: 13px;
    text-align: center;
}
p a{
    color: #222;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}
.foot1, .foot2 {
    background: beige;
    padding: 20px 1.5em;
    
}
.foot1 {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.foot1  ul {
    display: flex;
    align-items: center;
}
.foot2  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}